In [2]:
#Data originally downloaded from: HR Analytics - https://www.kaggle.com/ludobenistant/hr-analytics/downloads/human-resources-analytics.zip

#import dependencies and import 
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

filepath = '~/HR_comma_sep.csv'
df = pd.read_csv(filepath)

df[0:10]

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low
5,0.41,0.50,2,153,3,0,1,0,sales,low
6,0.10,0.77,6,247,4,0,1,0,sales,low
7,0.92,0.85,5,259,5,0,1,0,sales,low
8,0.89,1.00,5,224,5,0,1,0,sales,low
9,0.42,0.53,2,142,3,0,1,0,sales,low

In [3]:
len(df.columns)

10

In [4]:
df['salary'].unique()

array(['low', 'medium', 'high'], dtype=object)

In [5]:
#OnHotEncode categorical variables.
from sklearn.preprocessing import OneHotEncoder

labels = df.left

data_enc = pd.get_dummies(df)
columns = [col for col in data_enc.columns if col != 'left']

data_enc.shape

(14999, 21)

In [6]:
#View DataFrame with encoded data.
data_enc[0:10]

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales_IT,sales_RandD,...,sales_hr,sales_management,sales_marketing,sales_product_mng,sales_sales,sales_support,sales_technical,salary_high,salary_low,salary_medium
0,0.38,0.53,2,157,3,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0
1,0.80,0.86,5,262,6,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,1
2,0.11,0.88,7,272,4,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,1
3,0.72,0.87,5,223,5,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0
4,0.37,0.52,2,159,3,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0
5,0.41,0.50,2,153,3,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0
6,0.10,0.77,6,247,4,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0
7,0.92,0.85,5,259,5,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0
8,0.89,1.00,5,224,5,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0
9,0.42,0.53,2,142,3,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [7]:
#Separate columns to be used for analysis.
data = data_enc[[col for col in data_enc.columns if col != 'left']]

data[0:10]

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years,sales_IT,sales_RandD,sales_accounting,sales_hr,sales_management,sales_marketing,sales_product_mng,sales_sales,sales_support,sales_technical,salary_high,salary_low,salary_medium
0,0.38,0.53,2,157,3,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0
1,0.80,0.86,5,262,6,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1
2,0.11,0.88,7,272,4,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1
3,0.72,0.87,5,223,5,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0
4,0.37,0.52,2,159,3,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0
5,0.41,0.50,2,153,3,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0
6,0.10,0.77,6,247,4,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0
7,0.92,0.85,5,259,5,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0
8,0.89,1.00,5,224,5,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0
9,0.42,0.53,2,142,3,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0

In [8]:
#Separate dataset into training and test sets
X_train, X_test, y_train, y_test = train_test_split(data, labels, test_size=0.33, random_state=42)

In [9]:
#Use PCA for dimensionality reduction to obtain Top 20 Components and view explained variance of each variable.
from sklearn.decomposition import PCA

pca = PCA(n_components=20)
pca.fit(X_train)

exp_var = pca.explained_variance_ratio_
exp_var = [round(x, 5) for x in exp_var]

df_expVar = pd.DataFrame(exp_var, columns)
df_expVar.columns = ['Explained Var']

red_cols = list(df_expVar.index[0:20])
red_cols
df_expVar

                       Explained Var
satisfaction_level           0.99799
last_evaluation              0.00087
number_project               0.00048
average_montly_hours         0.00018
time_spend_company           0.00010
Work_accident                0.00006
promotion_last_5years        0.00005
sales_IT                     0.00005
sales_RandD                  0.00004
sales_accounting             0.00003
sales_hr                     0.00002
sales_management             0.00002
sales_marketing              0.00002
sales_product_mng            0.00002
sales_sales                  0.00002
sales_support                0.00002
sales_technical              0.00001
salary_high                  0.00001
salary_low                   0.00000
salary_medium                0.00000

In [10]:
#Obtain DataFrame with columns from top 20 components from PCA.
data_red = data[[col for col in data_enc.columns if col in red_cols]]

data_red[0:10]

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years,sales_IT,sales_RandD,sales_accounting,sales_hr,sales_management,sales_marketing,sales_product_mng,sales_sales,sales_support,sales_technical,salary_high,salary_low,salary_medium
0,0.38,0.53,2,157,3,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0
1,0.80,0.86,5,262,6,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1
2,0.11,0.88,7,272,4,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1
3,0.72,0.87,5,223,5,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0
4,0.37,0.52,2,159,3,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0
5,0.41,0.50,2,153,3,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0
6,0.10,0.77,6,247,4,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0
7,0.92,0.85,5,259,5,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0
8,0.89,1.00,5,224,5,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0
9,0.42,0.53,2,142,3,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0

In [11]:
#Obtain new train and test datasets from the reduced dataset.
X_train, X_test, y_train, y_test = train_test_split(data_red, labels, test_size=0.33, random_state=42)

In [12]:
#Logistic Regression
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report

clf_lr = LogisticRegression()
clf_lr.fit(X_train, y_train)
predicted_lr = clf_lr.predict(X_test)

print(classification_report(y_test, predicted_lr, target_names=['No', 'Yes']))

             precision    recall  f1-score   support

         No       0.82      0.92      0.87      3769
        Yes       0.58      0.34      0.43      1181

avg / total       0.76      0.78      0.76      4950

In [13]:
clf_lr.score(X_test,y_test)

0.7848484848484848

In [14]:
#SVM
from sklearn.svm import SVC

clf_svc = SVC()
clf_svc.fit(X_train, y_train)
predicted_svc = clf_svc.predict(X_test)
print(classification_report(y_test, predicted_svc, target_names=['No', 'Yes']))

             precision    recall  f1-score   support

         No       0.97      0.96      0.96      3769
        Yes       0.88      0.90      0.89      1181

avg / total       0.95      0.95      0.95      4950

In [15]:
clf_svc.score(X_test,y_test)

0.94646464646464645

In [16]:
#Decision Tree
from sklearn import tree

clf_tree = tree.DecisionTreeClassifier()
clf_tree.fit(X_train, y_train)
predicted_tree = clf_tree.predict(X_test)
print(classification_report(y_test, predicted_tree, target_names=['No', 'Yes']))

             precision    recall  f1-score   support

         No       0.99      0.97      0.98      3769
        Yes       0.92      0.96      0.94      1181

avg / total       0.97      0.97      0.97      4950

In [17]:
#View most important features from Decision Tree Analysis.
features = clf_tree.feature_importances_
df_tree_features = pd.DataFrame(features, columns)
df_tree_features.columns = ['Feature Importance']
df_tree_features

                       Feature Importance
satisfaction_level               0.496699
last_evaluation                  0.156882
number_project                   0.098552
average_montly_hours             0.088796
time_spend_company               0.139088
Work_accident                    0.001124
promotion_last_5years            0.000020
sales_IT                         0.001013
sales_RandD                      0.000071
sales_accounting                 0.001189
sales_hr                         0.001447
sales_management                 0.000816
sales_marketing                  0.000091
sales_product_mng                0.001241
sales_sales                      0.000909
sales_support                    0.000648
sales_technical                  0.002754
salary_high                      0.002286
salary_low                       0.002621
salary_medium                    0.003754

In [18]:
clf_tree.score(X_test,y_test)

0.97171717171717176

In [19]:
#Ensemble using Decision Tree and AdaBoost
from sklearn.ensemble import AdaBoostClassifier

n_estimators = 100
learning_rate = 1

adaBoost = AdaBoostClassifier(base_estimator=clf_tree, n_estimators=n_estimators, 
                              learning_rate=learning_rate)
adaBoost.fit(X_train, y_train)
adaBoost_pred = adaBoost.predict(X_test)

print(classification_report(y_test, adaBoost_pred, target_names=['No', 'Yes']))

             precision    recall  f1-score   support

         No       0.99      0.98      0.98      3769
        Yes       0.93      0.96      0.95      1181

avg / total       0.97      0.97      0.97      4950

In [20]:
adaBoost.score(X_test,y_test)

0.97414141414141409

In [21]:
#Ensemble using Decision Tree and Bagging
from sklearn.ensemble import BaggingClassifier

n_estimators = 100
learning_rate = 1

bagging = BaggingClassifier(base_estimator=clf_tree, n_estimators=n_estimators, 
                              bootstrap=True)
bagging.fit(X_train, y_train)
bagging_pred = bagging.predict(X_test)

print(classification_report(y_test, bagging_pred, target_names=['No', 'Yes']))

             precision    recall  f1-score   support

         No       0.99      0.99      0.99      3769
        Yes       0.98      0.96      0.97      1181

avg / total       0.99      0.99      0.99      4950

In [22]:
bagging.score(X_test,y_test)

0.98626262626262629